*.class
# eclipse project files. ignored by default to avoid accidental changes
.classpath
.project
.settings/
config/bitmag-development-settings
config/bitmag-staging-settings
config/bitmag-production-settings
*~
# Package Files #
*.jar
*.war
*.ear

target/
